<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Club d'Echecs de Montpellier{% endblock %}</title>
    {% block stylesheets %}
      {% stylesheets filter="cssrewrite"
        'bundles/edblog/css/bootstrap.css'
        'bundles/edblog/css/main.min.blessed.css'
      %}
        <link rel="stylesheet" href="{{ asset_url }}" />
      {% endstylesheets %}
    {% endblock %}
 <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link href='//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,300,400,600,700,800&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

        {#{% block stylesheetsMenu %}
            <link rel="stylesheet" type="text/css" href="{{ asset('css/menu_base.css') }}" />
        {% endblock %}#}
        
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
       <header role="banner" class="header--app">
  <div class="logo" title="">{#<img class="margin--r" src="{{ asset('bundles/edblog/img/svg/edblog-logo.svg') }}" alt="EdBlog">#}CEM Blog</div>
	<nav class="flright visible-sm-block visible-md-block visible-lg-block">
            {% block menu %}
        <ul id="menu_base">
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <li>{{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}</li>
            {% endif %}
            {% if app.environment == "dev" %}
                <li><a href=" {{ app.request.basepath }}/app_dev.php">Accueil</a></li>
                <li><a href=" {{ app.request.basepath }}/app_dev.php/blog">Blog</a></li>
	    {% else %}
	        <li><a href=" {{ app.request.basepath }}">Accueil</a></li>
                <li><a href=" {{ app.request.basepath }}/blog">Blog</a></li>
	    {% endif %}

            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <li><a href="{{ path('fos_user_profile_show') }}">
                    Compte
                </a></li>
                {% if 'compte' in app.request.requestUri %}
			<li><a href="{{ path('fos_user_profile_edit') }}">
			    Editer Compte
			</a></li>
			<li><a href="{{ path('fos_user_change_password') }}">
			    Changer MDP
			</a></li>
                {% endif %}
                <li><a href="{{ path('fos_user_security_logout') }}">
                   {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                </a></li>
            {% else %}
          	<li><a href="{{ path('fos_user_registration_register') }}">{{ 'layout.register'|trans({}, 'FOSUserBundle') }}</a></li>
                <li><a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a></li>
            {% endif %}
        </ul>
        {% endblock %}
        </nav></header>
    </head>
    <body>
        {% block body %}{% endblock %}
        
            
    {% block javascripts %}

      {% javascripts
        '@EDBlogBundle/Resources/public/js/vendor/jquery.min.js'
        '@EDBlogBundle/Resources/public/js/vendor/bootstrap.min.js'

        '@EDBlogBundle/Resources/public/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js'
        '@EDBlogBundle/Resources/public/js/vendor/retina-1.1.0.min.js'
        '@EDBlogBundle/Resources/public/js/vendor/imagesloaded.pkgd.min.js'
        '@EDBlogBundle/Resources/public/js/vendor/isotope.pkgd.min.js'

        '@EDBlogBundle/Resources/public/js/vendor/jquery.ui.widget.js'
        '@EDBlogBundle/Resources/public/js/vendor/jquery.fileupload.js'

        '@EDBlogBundle/Resources/public/js/fe-general.js'
        '@EDBlogBundle/Resources/public/js/frontend.js'
      %}
      <script type="text/javascript" src="{{ asset_url }}"></script>
      {% endjavascripts %}
      {% endblock %}
    </body>
    <foot>
<div class="footer text--mini app-grey">Copyright <a href="http://nasoneg.fr/web/app_dev.php/" target="_blank" class="text--bold text--upper black text--11">CEM</a> © 2016</div>
    </foot>
</html>
